*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
}
:root{
    --barheight: 3px;
    --barwidth:  17px;
    --bar-gap: 4px;
    --color1: white;
    --color2:  black;
    --animation-timing: 200ms ease-in-out;
    --x-width: calc(var(--barwidth) - var(--barwidth)*.25); 

}
.bar{
    display: flex; 
    flex-direction: column;
    gap: var(--bar-gap);
    width: max-content;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}
.bar input,
.bar::before,
.bar::after{
    content: "";
    width: var(--barwidth);
    height: var(--barheight);
    background-color: var(--color1);
    border-radius: 999999px;
    transition: opacity var(--animation-timing), width var(--animation-timing),
     color var(--animation-timing);
    transform-origin: left center;
}

.bar:has(input:focus-visible)::before,
.bar:has(input:focus-visible)::after,
.bar:has(input:focus-visible){
    background-origin: 1px solid var(--color1);
    box-shadow: 0 0 0 1px var(--color2);
}
.bar input{
    appearance: none;
    padding: 0;
    margin: 0;
    pointer-events: none;
}
.bar input:checked{
    transition: 100ms ease-in-out;
    opacity: 0;
    width: 0;
}
.side2{
    background-color: black;
    color: white;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 20px;
    height: 100vh;
    translate: 0%;
}
.sidebar{
    background-color: black;
    color: white;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: 100vh;
    translate: -72%;
}

.bar:has(input:checked) ~ .cont1{
    transition: var(--animation-timing);
    margin-left: 300px;
}


li{
    list-style: none;
    padding: 10px;
    margin-left: 0;
    text-align: right;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
ul{
    margin-top: var(--barheight);
    padding: 0;
    margin: 0;
}
li:hover{
    background-color: rgba(255, 255, 255, 0.349);
}
.bar:has(input:checked) + .sidebar{
    transition: var(--animation-timing);
    translate: 0;
}
.bar:has(input:checked) + .sidebar > ul > li{
    flex-direction: row;
}
.bar:has(input:checked) + .sidebar > ul > li > i{
    margin-right: 8px;
}


@media  screen and (max-width: 600px) {
    .cont1{
        grid-template-columns: 1fr 1fr;
    }
    .first-short-div{
        grid-template-columns: 1fr 1fr 1fr;
    }
    li{
        font-size: 12px;
    }
    .sidebar{
        padding-top: 40px;
        width: 180px;
        height: 100vh;
    }
}
@media  screen and (max-width: 380px) {
.cont1{
    grid-template-columns: 1fr;
}
.first-short-div{
    grid-template-columns: 1fr 1fr;
}
.search-div{
    margin-left: 7%;
    width: 40%;
    margin-right: 25px;
}
input{
    width: 78%;
}
.hd2-div{
    padding: 5px 0;
}
:root{
    --div--margin: 55px;
}
.hd2-div > a{
    padding: 4px 8px;
    background-color: var(--Outline-blk-clor);
    color: white;
    text-decoration: none;
    font-size: .75em;
    border-radius: 4px;
    
}
}
